@import "../../styles/variables";

.single-apartment {
    .two-part-section-div-h1 {
        color: black;
    }

    .additional-information {
        margin-top: $margin-top;
        font-family: $sans-serif-font;
    
        p {
            font-weight: bold;
        }
    }
}
