@import '../../styles/variables';

.apartments {
    height: 100vh;
    overflow: hidden;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-button-next, 
.swiper-button-prev {
    color: $green-color;
}

.swiper-pagination-bullet-active {
    background: $green-color;
}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
}

.slider img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.image-caption {
    position: absolute;
    bottom: 50px;
    left: 20px;
    color: white;
    font-size: 5rem;
    font-weight: bold;
    font-family: $sans-font;
    z-index: 2;
}

@media only screen and (max-width: 500px) {
    .image-caption {
        font-size: 4rem;
    }
}