@import '../../styles/variables';
@import "../../styles/mixins";

.gallery {
    background-color: $dark-color;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include section-padding;
}

.gallery-h1,
.gallery-h2 {
    font-family: $sans-font;
}

.gallery-h2 {
    margin-top: 0.625rem;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    margin-top: 3.125rem;
}

.gallery-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-container .w-three {
    height: 31.25rem;
    width: 60%;
    margin-top: 3%;
    margin-right: 3%;
}

.gallery-container .w-two {
    height: 31.25rem;
    width: 37%;
    margin-top: 3%;
    margin-right: 3%;
}

.gallery-container .w-one {
    height: 31.25rem;
    width: 28.5%;
    margin-top: 3%;
    margin-right: 3%;
}

.gallery-container .n-m {
    margin-right: 0;
}

.image {
    position: relative;
}

.image img {
    max-width: 100%;
}

.image .image-overlay {
    background-color: rgb(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    bottom: 0;
    height: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all .25s ease-in-out;
}

.image-overlay p {
    color: #fff;
    opacity: 0;
    transition: all .75s ease-in-out;
}

.image:hover .image-overlay {
    height: 100%;
}

.image:hover p {
    opacity: 1;
}

.image:hover {
    cursor: pointer;
}

.hidden-text {
    font-family: $sans-serif-font;
}

