@import "../../styles/mixins";

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @include section-padding;
}

.section .content {
    padding-right: 5rem;
    width: 50%;
}

.section .images {
    width: 50%;
}

.section .images img {
    width: 100%;
}

@media only screen and (max-width: 1300px) {
    .section {
        flex-direction: column;
    }

    .section .content {
        padding-right: 0;
        width: 100%;
        margin-bottom: 1.875rem;
    }

    .section .images {
        width: 100%;
    }
}